@import '../global.scss';

.about {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    background: $subMainColor;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
   
    .about-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        
       
        h1{
        overflow: hidden;
        padding: 1em; 
        color: $compColor;
        font-family: inherit;
        font-style: italic;
        font-size: 4em;
        font-weight: 600;
        
        }
            @include mobile {
                font-size: 0.9em;
                padding: auto;

            }
    }
    
    .wrapper {
        display: grid;
       
        width: 100%;
       
    
        .card {
            position: relative;
            width: 320px;
            aspect-ratio: 1/1.618;
            margin: 20px;
            transform-style: preserve-3d;
            perspective: 1000px;
            border-radius: 16px;
           // box-shadow: 0   0 5px $subCompColor;
            overflow: hidden;
            
            .box {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform-style: preserve-3d;
                transition: 2s ease;
                

                &:hover {
                    transform: rotateY(180deg);
                }
                

                .img-box, img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%; 
                    
                    
                }

                .content-box {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%; 
                    color: $subCompColor;
                    background: transparent;
                    backface-visibility:hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform-style: preserve-3d;
                    backdrop-filter: blur(0.5em);
                    transform: rotateY(180deg);

                     div {
                        transform-style: preserve-3d;
                        padding: 2rem;
                        background: $mainColor;
                        transform: translateZ(100px);
                        backdrop-filter: blur(0.5rem);

                        h2 {
                            letter-spacing: 1px;
                            font-size: 1.5rem;
                            margin-bottom: 1rem;
                        }

                        .year {
                            font-size: 1rem;
                           
                        }

                        p {
                            font-size: 1rem;
                            margin-top: 1rem;
                        }
                        
                    }
                }
            }

            
        }
    
    }

}